* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}



ul {
    list-style: none;

}

a {
    color: initial;
    text-decoration: none;

}

a:visited {
    color: initial;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}